.Panel {
    text-align: center;
    border: 3px solid black;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFF00, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.46), #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.Text{
    margin: auto;
    width:40%
}

.Container{
    width: 500px;
    overflow: auto;
    height: 40px;
    margin: auto;
    color:darkred;
    font-family: "Open Sans", sans-serif;
}

.Code{
    color:darkred;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

