.PollOptionControl {
    min-width: 300px;
    width:300px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 0 20px 0 0;
    box-sizing: border-box;
    border: 1px solid #888888;
    box-shadow: 5px 10px #888888;
    border-radius: 5px;
}

#uploadLabel {
    font-size: 9px;
}

@media(min-width: 500px) {
    #uploadLabel {
        font-size: 16px;
    }
}