.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 18px;
}

li label{
    position: relative;
    margin-left: 140px;
    width: auto;
    font-size: 22px;
}

.NavigationItem a {
    color: #31708E;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover, .NavigationItem a:active, .NavigationItem a.active {
    color: #80C1E3;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    .NavigationItem a:hover, .NavigationItem a:active, .NavigationItem a.active {
        background-color: #31708E;
        border-bottom: 4px solid #80C1E3;
        color: white;
    }
}