.Login{
    width: 80%;
    margin: auto;
}

.Login input {
    margin: 0 auto;
    max-width: 320px;
}

@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}

@media all and (min-width: 480px) {
    .CreateGroup {
        padding: 60px 0;
    }

    .CreateGroup form {
        margin: 0 auto;
        max-width: 320px;
    }
}